JWT_ACCESS_TOKEN_SECRET=<<JWT_ACCESS_TOKEN_SECRET>>
JWT_REFRESH_TOKEN_SECRET=<<JWT_REFRESH_TOKEN_SECRET>>
MONGODB_URI=<<MONGODB_URI>>
NODE_ENV=<<NODE_ENV>>
PORT=<<PORT>>
APP_SERVER=<<APP_SERVER>>
JWT_ACCESS_EXPIRATION=<<JWT_ACCESS_EXPIRATION>>
JWT_REFRESH_EXPIRATION=<<JWT_REFRESH_EXPIRATION>>
S3_REGION=<<S3_REGION>>
S3_BUCKETNAME=<<S3_BUCKETNAME>>
S3_ACCESSKEYID=<<S3_ACCESSKEYID>>
S3_SECRETACCESSKEY=<<S3_SECRETACCESSKEY>>
DEFAULT_PROFILE_IMG=<<DEFAULT_PROFILE_IMG>>